﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form method="post" asp-action="FileUploadServer" enctype="multipart/form-data">
    <input type="file" value="Upload A PDF" />
    <input type="submit" value="Submit" />
</form>