﻿@{
    ViewData["Title"] = "Home Page";
}
@model PDFFilenText
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-7">
            <div class="card">
                <div class="card-header">
                    <h4>PDF POC <a class="float-right btn btn-info" asp-action="SplitPdf">SplitPdf</a></h4>
                </div>
                <div class="card-body">
                    <form method="post" asp-action="Index" enctype="multipart/form-data">
                        <div class="form-group">
                            <label>Select an PDF</label>
                            <input type="file" value="Upload A PDF" asp-for="PDFFIle" class="form-control" required />
                        </div>
                        <div class="form-group mt-2">
                            <label>Enter Keywords to highlight</label>
                            <textarea rows="5" asp-for="SearchText" class="form-control" placeholder="Enter text here" required></textarea>
                        </div>
                        <div class="text-center">
                            <input type="submit" value="Submit" class="mt-3 btn btn-success" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
    </div>
</div>
