﻿@{
    ViewData["Title"] = "Home Page";
}
@model PDFFilenText
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-7">
            <div class="card">
                <div class="card-header">
                    <h4>PDF POC <a class="float-right btn btn-info" asp-action="Index">Highlight PDF</a></h4>
                </div>
                <div class="card-body">
                    <form method="post" asp-action="SplitPdf" enctype="multipart/form-data">
                        <div class="form-group">
                            <label>Select an PDF</label>
                            <input type="file" value="Upload A PDF" asp-for="PDFFIle" class="form-control" required />
                        </div>
                        <div class="form-group mt-2">
                            <label>Enter Number of pages to be Splitted</label>
                            <input asp-for="PageNumber" class="form-control" />
                        </div>
                        <div class="text-center">
                            <input type="submit" value="Submit" class="mt-3 btn btn-success" />
                        </div>
                    </form>
                   
                </div>
            </div>
        </div>
        @if (ViewBag.Paths != null)
        {
            foreach (string path in ViewBag.Paths)
            {
                <div class="col-6">
                    @{
                        string last2 = path.ToString().Split('\\').Last();
                       
                        var Newpath = string.Concat("/", ITextnSpire.Common.GlobalVariables.PDF, "/", ITextnSpire.Common.GlobalVariables.SplittedPDF, "/", last2);
                        <iframe src='@Newpath' style="min-height:85vh;width:100%" title="Iframe Example"></iframe>
                    }
                </div>

            }
        }

    </div>
</div>
